[Unit]
Description=Mount unit for canonical-livepatch
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/canonical-livepatch_39.snap
Where=/snap/canonical-livepatch/39
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
