[Unit]
Description=Mount unit for core
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/core_4486.snap
Where=/snap/core/4486
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
