[Unit]
Description=Mount unit for storjshare
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/storjshare_36.snap
Where=/snap/storjshare/36
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
